<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19659560338-a23a1v9kkpfabe7ob5279qgipuk64n09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19659560338-a23a1v9kkpfabe7ob5279qgipuk64n09</string>
	<key>API_KEY</key>
	<string>AIzaSyCSS3nM2OAnsKYPhuaQ-FukguhlPBxhJo4</string>
	<key>GCM_SENDER_ID</key>
	<string>19659560338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.cybird.penguin01</string>
	<key>PROJECT_ID</key>
	<string>penguin-adv</string>
	<key>STORAGE_BUCKET</key>
	<string>penguin-adv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19659560338:ios:45361987c23fbf974edd4b</string>
	<key>DATABASE_URL</key>
	<string>https://penguin-adv.firebaseio.com</string>
</dict>
</plist>